# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\mmurray\OneDrive - GMIT\Modules\Year 4\2020-21\CourseWork\NPwJ20_21\GroupB\DeitelThreadingExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
